<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ServiceControl.Audit/HostName" value="localhost" />
    <add key="ServiceControl.Audit/Port" value="{Port}" />
    <add key="ServiceControl.Audit/DatabaseMaintenancePort" value="{MaintenancePort}" />
    <add key="ServiceControl.Audit/LogPath" value="{LogPath}" />
    <add key="ServiceControl.Audit/RavenDB/ConnectionString" value="{ConnectionString}" />
    <add key="ServiceControl.Audit/TransportType" value="LearningTransport" />
    <add key="ServiceControl.Audit/PersistenceType" value="RavenDB" />
    <add key="ServiceControl.Audit/ForwardAuditMessages" value="false" />
    <add key="ServiceControl.Audit/AuditRetentionPeriod" value="10.00:00:00" />
    <add key="ServiceControl.Audit/ServiceControlQueueAddress" value="Particular.ServiceControl" />
    <add key="ServiceControl.Audit/DataSpaceRemainingThreshold" value="0" />
  </appSettings>
  <connectionStrings>
    <add name="NServiceBus/Transport" connectionString="{TransportPath}" />
  </connectionStrings>
</configuration>