<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ServiceControl/HostName" value="localhost" />
    <add key="ServiceControl/Port" value="{ServiceControlPort}" />
    <add key="ServiceControl/DatabaseMaintenancePort" value="{MaintenancePort}" />
    <add key="ServiceControl/LogPath" value="{LogPath}" />
    <add key="ServiceControl/RavenDB/ConnectionString" value="{ConnectionString}" />
    <add key="ServiceControl/TransportType" value="LearningTransport" />
    <add key="ServiceControl/PersistenceType" value="RavenDB" />
    <add key="ServiceControl/ForwardErrorMessages" value="false" />
    <add key="ServiceControl/ErrorRetentionPeriod" value="10.00:00:00" />
    <add key="ServiceControl/RemoteInstances" value="[{&quot;api_uri&quot;:&quot;http://localhost:{AuditPort}/api&quot;}]" />
    <add key="ServiceControl/DataSpaceRemainingThreshold" value="0" />
  </appSettings>
  <connectionStrings>
    <add name="NServiceBus/Transport" connectionString="{TransportPath}" />
  </connectionStrings>
</configuration>