<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Monitoring/HttpHostname" value="localhost" />
    <add key="Monitoring/HttpPort" value="{MonitoringPort}" />
    <add key="Monitoring/LogPath" value="{LogPath}" />
    <add key="Monitoring/TransportType" value="LearningTransport" />
  </appSettings>
  <connectionStrings>
    <add name="NServiceBus/Transport" connectionString="{TransportPath}" />
  </connectionStrings>
</configuration>